{% extends "base.njk" %}
{% block content %}

    <div class="task-list">
        <div class="task {% if task.done %}done{% else %}pending{% endif %}">
            <h3>{{ task.title |upper }}</h3>
            <img src="{{ task.imageUrl }}" alt="task">
            <p>{{ task.description }}</p>
            <p>Created by: {{ task.creator.username }} -  
                {% if task.isPublic %} Public {% else %} Private {% endif %}
            </p>
            <button
                    class="done-button"
                    onclick="markDone('{{ task.id }}')"
                    {% if task.done %}disabled{% endif %}
            >Done
            </button>
            <button class="delete-button" onclick="deleteTask('{{ task._id }}')">Delete</button>
        </div>
    </div>
{% endblock %}