{% extends "base.njk" %}
 {% block content %}

     <h1>Welcome to Tasks Management</h1>
     <a href="/new" class="fab">+</a>
     <div class="task-list">
         {% for task in tasks %}
             <a href="/task">
                 <div class="task {% if task.done %}done{% else %}pending{% endif %}">
                     <h3>{{ task.title |capitalize }}</h3>
                     <p>{{ task.description }}</p>
                 </div>
             </a>
         {% endfor %}
     </div>
 {% endblock %}